/*-- EXTRA EXTRA LARGE DEVICES DEVICES --*/

@media (min-width: 1025px) {
    #submit {
        margin-bottom: 1em;
    }
}

/*-- EXTRA LARGE DEVICES --*/

@media (min-width: 769px) and (max-width: 1024px) {
    #main-nav {
        font-size: 1.2rem;
    }

    .head h1 {
        font-size: 5rem;
    }

    .links {
        padding-bottom: 1em;
    }

    #ghost {
        margin: 30px 0 0 2.5em;
        font-size: 2rem;
    }

    #full {
        font-size: 2rem;
    }

    .short-copy {
        font-size: 2.5rem;
    }

    .about-coach span {
        font-size: 3rem;
    }

    .about-coach h2 {
        font-size: 3.5rem;
    }

    .long-copy {
        font-size: 1.7rem;
    }

    #workout {
        margin: 0 21em;
    }

    #submit {
        margin-bottom: 1em;
    }
}

@media (width: 768px) {
    .head h1 {
        font-size: 4rem;
    }

    .coach {
        font-size: 1.2rem;
    }

    .links {
        margin: 1em 0 0 -20px;
    }

    #plan1 {
        font-size: 6rem;
        margin: 0;
        padding: 0 0 0 0.5em;
    }

    #plan1 #trxworkout {
        margin: 6.5em 0 0 -95px;
    }

    #plan2 {
        font-size: 6rem;
        margin: 0;
        padding: 0 0 0 1em;
    }

    #plan2 #posture {
        margin: 6em 0 0 -110px;
    }

    #plan3 {
        font-size: 6rem;
        margin: 0;
        padding: 0 0.5em 0 1em;
    }

    #plan3 #muscle {
        margin: 6.5em 0 0 -70px;
    }

    #plan4 {
        font-size: 6rem;
        margin: 0;
        padding: 0 0 0 0.5em;
    }

    #plan4 #weight {
        margin: 6.5em 0 0 -95px;
    }

    #plan5 {
        font-size: 6rem;
        margin: 0;
        padding: 0 0 0 1em;
    }

    #plan5 #cardio {
        margin: 6.5em 0 0 -95px;
    }

    #plan6 {
        font-size: 6rem;
        margin: 0;
        padding: 0 0.5em 0 1em;
    }

    #plan6 #strength {
        margin: 6.5em 0 0 -80px;
    }

    #workout {
        margin: 1em 15em;
    }

    .stories {
        margin-bottom: 3em;
    }

    #story2 {
        margin-top: 2em;
    }

    #story3 {
        margin-top: 2em;
    }

    #bisola {
        text-align: center;
        margin: 0;
        padding-left: 8em;
        margin-right: 7.5em;
    }

    #bisoladate {
        margin: 0;
        padding-left: 15em;
        padding-right: 4em;
        border-bottom: none;
        padding-bottom: 2em;
    }

    #posi {
        text-align: center;
        margin: 0;
        padding-left: 8.5em;
        margin-right: 7.5em;
    }

    #posidate {
        margin: 0;
        padding-left: 15.5em;
        padding-right: 4em;
        border-bottom: none;
        padding-bottom: 2em;
    }

    #tolu {
        text-align: center;
        margin: 0;
        padding-left: 8.5em;
        margin-right: 7.5em;
    }

    #toludate {
        margin: 0;
        padding-left: 17em;
        padding-right: 4em;
        border-bottom: none;
        padding-bottom: 2em;
    }

    #submit {
        margin-bottom: 1em;
    }
}

/*-- LARGE DEVICES --*/

@media (min-width: 450px) and (max-width: 767px) {
    .head h1 {
        font-size: 4rem;
    }

    .coach {
        font-size: 1.1rem;
    }

    .links {
        margin: 1em 0 0 -20px;
    }

    #plan1 {
        font-size: 4rem;
        margin: 0;
        padding: 0 0 0 0.5em;
    }

    #plan1 #trxworkout {
        margin: 3.8em 0 0 -80px;
    }

    #plan2 {
        font-size: 4rem;
        margin: 0;
        padding: 0 0 0 1em;
    }

    #plan2 #posture {
        margin: 3.8em 0 0 -80px;
    }

    #plan3 {
        font-size: 4rem;
        margin: 0;
        padding: 0 0.5em 0 1em;
    }

    #plan3 #muscle {
        margin: 3.8em 0 0 -80px;
    }

    #plan4 {
        font-size: 4rem;
        margin: 0;
        padding: 0 0 0 0.5em;
    }

    #plan4 #weight {
        margin: 3.8em 0 0 -80px;
    }

    #plan5 {
        font-size: 4rem;
        margin: 0;
        padding: 0 0 0 1em;
    }

    #plan5 #cardio {
        margin: 3.8em 0 0 -80px;
    }

    #plan6 {
        font-size: 4rem;
        margin: 0;
        padding: 0 0.5em 0 1em;
    }

    #plan6 #strength {
        margin: 3.8em 0 0 -80px;
    }

    #workout {
        margin: 1em 6.5em;
    }

    .stories {
        margin-bottom: 3em;
    }

    #story2 {
        margin-top: 2em;
    }

    #story3 {
        margin-top: 2em;
    }

    #bisola {
        text-align: center;
        margin: 0;
        padding-left: 8em;
        margin-right: 7.5em;
    }

    #bisoladate {
        margin: 0;
        padding-left: 7em;
        padding-right: 4em;
        border-bottom: none;
        padding-bottom: 2em;
    }

    #posi {
        text-align: center;
        margin: 0;
        padding-left: 8.5em;
        margin-right: 7.5em;
    }

    #posidate {
        margin: 0;
        padding-left: 7.5em;
        padding-right: 4em;
        border-bottom: none;
        padding-bottom: 2em;
    }

    #tolu {
        text-align: center;
        margin: 0;
        padding-left: 8.5em;
        margin-right: 7.5em;
    }

    #toludate {
        margin: 0;
        padding-left: 9em;
        padding-right: 4em;
        border-bottom: none;
        padding-bottom: 2em;
    }

    #submit {
        margin-bottom: 1em;
    }
}


/*-- MEDIUM DEVICES --*/

@media (min-width: 401px) and (max-width: 449px) {
    .head {
        margin-left: -20px;
    }

    .head h1 {
        font-size: 3rem;
        margin-bottom: 1em;
    }

    .coach {
        font-size: 1rem;
    }

    .links {
        margin: 1em 0 0 -70px;
    }

    .plans {
        margin-top: 1.5em;
    }

    #plan1 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }

    #plan1 #trxworkout {
        margin-top: 30px;
        margin-left: -60px;
    }

    #plan2 {
        font-size: 3rem;
        margin: 0;
    }

    #plan2 #posture {
        margin-top: 30px;
        margin-left: -65px;
    }

    #plan3 {
        font-size: 3rem;
        margin: 0;
    }

    #plan3 #musle {
        margin-left: -30px;
        margin-top: 20px;
    }

    #plan4 {
        font-size: 3rem;
        padding: 0;
        margin-right: 1.5em;
    }

    #plan4 #weight {
        margin-left: -50px;
        margin-right: 1.5em;
        margin-top: 30px;
    }

    #plan5 {
        font-size: 3rem;
        margin: 0 0 0 0;
        padding: 0;
    }

    #plan5 #cardio {
        margin-left: -75px;
        margin-top: 20px;
    }

    #plan6 {
        font-size: 3rem;
        margin: 0 -10px 0 1.5em;
        padding: 0;
    }

    #plan6 #strength {
        margin-left: -75px;
        margin-top: 20px;
    }

    #work {
        text-align: center;
        margin-top: 2em;
    }

    #workout {
        margin-left: 0;
    }

    .stories {
        margin-bottom: 3em;
    }

    #story2 {
        margin-top: 2em;
    }

    #story3 {
        margin-top: 2em;
    }

    #bisola {
        text-align: center;
        margin: 0;
    }

    #bisoladate {
        margin: 0;
        padding-left: 6em;
        padding-right: 4em;
        border-bottom: none;
        padding-bottom: 2em;
    }

    #posi {
        text-align: center;
        margin: 0;
    }

    #posidate {
        margin: 0;
        padding-left: 6em;
        padding-right: 4em;
        border-bottom: none;
        padding-bottom: 2em;
    }

    #tolu {
        text-align: center;
        margin: 0;
    }

    #toludate {
        margin: 0;
        padding-left: 7em;
        padding-right: 4em;
        border-bottom: none;
        padding-bottom: 2em;
    }

    .conclusion {
        flex-direction: column;
        width: 100%;
    }

    .contact {
        width: 100%;
        margin: 0;
        padding-right: 1em;
    }

    .contact-us {
        width: 100%;
    }

    #submit {
        margin-bottom: 1em;
    }
}

/*-- SMALL DEVICES --*/

@media (min-width: 375px) and (max-width: 400px) {
    .head {
        margin-left: -30px;
    }

    .head h1 {
        font-size: 2.5rem;
    }

    .coach {
        font-size: 0.9rem;
    }

    .plans {
        margin-bottom: 1em;
    }

    #plan1 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan1 #trxworkout {
        margin-top: 45px;
        margin-left: -75px;
    }

    #plan2 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan2 #posture {
        margin-top: 45px;
        margin-left: -75px;
    }

    #plan3 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    #plan3 #muscle {
        margin-top: 45px;
        margin-left: -40px;
    }

    #plan4 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan4 #weight {
        margin-top: 45px;
        margin-left: -75px;
    }

    #plan5 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan5 #cardio {
        margin-top: 45px;
        margin-left: -75px;
    }

    #plan6 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    #plan6 #strength {
        margin-top: 45px;
        margin-left: -50px;
    }

    #work {
        padding-bottom: 1em;
    }

    #workout {
        margin-left: 5.5em;
        margin-right: 4.5em;
    }

    .links {
        margin: 1em 0 0 -100px;
    }

    .short-copy {
        font-size: 1.5rem;
    }

    .stories {
        margin-bottom: 3em;
    }

    #story2 {
        margin-top: 2em;
    }

    #story3 {
        margin-top: 2em;
    }

    #bisola {
        margin: 0;
        padding-left: 8em;
        margin-right: 7.5em;
    }

    #bisoladate {
        margin: 0;
        padding-left: 6em;
        padding-right: 4em;
        border-bottom: none;
    }

    #posi {
        margin: 0;
        padding-left: 8em;
        margin-right: 7.5em;
    }

    #posidate {
        margin: 0;
        padding-left: 6em;
        padding-right: 4em;
        border-bottom: none;
    }

    #tolu {
        margin: 0;
        padding-left: 8em;
        margin-right: 7.5em;
    }

    #toludate {
        margin: 0;
        padding-left: 6em;
        padding-right: 4em;
        border-bottom: none;
    }

    .conclusion {
        flex-direction: column;
    }

    .contact {
        width: 100%;
        margin: 0;
        padding-right: 1em;
    }

    .contact-us {
        width: 100%;
    }

    #submit {
        margin-bottom: 1em;
    }
}

/*-- EXTRA SMALL DEVICES -- */

@media (min-width: 300px) and (max-width: 369px) {
    .head {
        margin-left: -30px;
    }

    .head h1 {
        font-size: 2.5rem;
    }

    .coach {
        font-size: 0.9rem;
    }

    .plans {
        margin-bottom: 1em;
    }

    #plan1 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan1 #trxworkout {
        margin-top: 40px;
    }

    #plan2 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan2 #posture {
        margin-top: 35px;
    }

    #plan3 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    #plan3 #muscle {
        margin-top: 30px;
    }

    #plan4 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan4 #weight {
        margin-top: 40px;
    }

    #plan5 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan5 #cardio {
        margin-top: 30px;
    }

    #plan6 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    #plan6 #strength {
        margin-top: 30px;
    }

    #work {
        padding-bottom: 1em;
    }

    #workout {
        margin-left: 5em;
        margin-right: 4.5em;
    }

    .links {
        margin: 1em 0 0 -100px;
    }

    .stories {
        margin-bottom: 3em;
    }

    #story2 {
        margin-top: 2em;
    }

    #story3 {
        margin-top: 2em;
    }

    #bisola {
        text-align: center;
        margin: 0;
    }

    #bisoladate {
        margin: 0;
        padding-left: 5em;
        padding-right: 3em;
        padding-bottom: 0;
        border-bottom: none;
    }

    #posi {
        text-align: center;
        margin: 0;
    }

    #posidate {
        margin: 0;
        padding-left: 5em;
        padding-right: 3em;
        padding-bottom: 0;
        border-bottom: none;
    }

    #tolu {
        text-align: center;
        margin: 0;
    }

    #toludate {
        margin: 0;
        padding-left: 6em;
        padding-right: 3em;
        padding-bottom: 0;
        border-bottom: none;
    }

    .conclusion {
        flex-direction: column;
    }

    .contact {
        width: 100%;
    }

    .contact-us {
        width: 100%;
    }

    #submit {
        margin-bottom: 1em;
    }
}

/*-- EXTRA EXTRA SMALL DEVICES --*/

@media (max-width: 299px) {
    .head {
        margin-left: -30px;;
    }

    .head h1 {
        font-size: 3rem;
        margin-left: 55px;
        margin-bottom: 0.3em;
    }

    .coach {
        font-size: 0.7rem;
        margin-left: 4em;
    }

    .links {
        font-size: 0.7rem;
        margin-top: 3em;
    }

    .short-copy {
        font-size: 1rem;
    }

    .plans {
        margin-bottom: 1em;
    }
    
    #plan1 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }
    
    #plan1 #trxworkout {
        margin-top: 45px;
        margin-left: -75px;
    }
    
    #plan2 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }
    
    #plan2 #posture {
        margin-top: 42px;
        margin-left: -75px;
    }
    
    #plan3 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }
    
    #plan3 #muscle {
        margin-top: 40px;
        margin-left: -40px;
    }
    
    #plan4 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }
    
    #plan4 #weight {
        margin-top: 50px;
        margin-left: -75px;
    }
    
    #plan5 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }
    
    #plan5 #cardio {
        margin-top: 40px;
        margin-left: -75px;
    }
    
    #plan6 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }
    
    #plan6 #strength {
        margin-top: 40px;
        margin-left: -55px;
    }
    
    #work {
        padding-bottom: 1em;
    }
    
    #workout {
        margin-left: 3em;
        margin-right: 4.5em;
    }

    #ghost {
        margin-left: 0.25em;
    }

    .stories {
        margin-bottom: 3em;
    }

    #story2 {
        margin-top: 2em;
    }

    #story3 {
        margin-top: 2em;
    }

    #bisola {
        text-align: center;
        margin: 0;
    }

    #bisoladate {
        margin: 0;
        padding-left: 3em;
        padding-right: 1em;
        padding-bottom: 0;
        border-bottom: none;
    }

    #posi {
        text-align: center;
        margin: 0;
    }

    #posidate {
        margin: 0;
        padding-left: 3em;
        padding-right: 1em;
        padding-bottom: 0;
        border-bottom: none;
    }

    #tolu {
        text-align: center;
        margin: 0;
    }

    #toludate {
        margin: 0;
        padding-left: 4em;
        padding-right: 2em;
        padding-bottom: 0;
        border-bottom: none;
    }

    .conclusion {
        flex-direction: column;
        width: 100%;
    }

    .contact {
        width: 100%;
    }

    .contact-us {
        width: 100%;
    }

    #submit {
        margin-bottom: 1em;
    }
}



