/*-- EXTRA EXTRA LARGE DEVICES DEVICES --*/

@media (min-width: 1025px) {
    #submit {
        margin-bottom: 1em;
    }
}

/*-- EXTRA LARGE DEVICES --*/

@media (min-width: 981px) and (max-width: 1024px) {
    #workout {
        margin: 0 20em;
    }

    #submit {
        margin-bottom: 1em;
    }
}

/*-- LARGE DEVICES --*/

@media (min-width:601px) and (max-width:980px) {
    .head h1 {
        font-size: 4rem;
    }

    .coach {
        font-size: 1.5rem;
    }

    .links {
        margin: 1em 0 0 -20px;
    }

    #submit {
        margin-bottom: 1em;
    }
}


/*-- MEDIUM DEVICES --*/

@media (min-width: 401px) and (max-width: 600px) {
    .head {
        margin-left: -20px;
    }

    .head h1 {
        font-size: 3rem;
        margin-bottom: 1em;
    }

    .coach {
        font-size: 1rem;
    }

    .links {
        margin: 1em 0 0 -70px;
    }

    .plans {
        margin-top: 1.5em;
    }

    #plan1 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }

    #plan1 #trxworkout {
        margin-left: -65px;
        margin-top: 20px;
    }

    #plan2 {
        font-size: 3rem;
        margin: 0;
    }

    #plan2 #posture {
        margin-left: -75px;
        margin-top: 20px;
    }

    #plan3 {
        font-size: 3rem;
        margin: 0;
    }

    #plan3 #musle {
        margin-left: -75px;
        margin-top: 20px;
    }

    #plan4 {
        font-size: 3rem;
        padding: 0;
        margin-right: 1.5em;
    }

    #plan4 #weight {
        margin-left: -75px;
        margin-right: 1.5em;
        margin-top: 20px;
    }

    #plan5 {
        font-size: 3rem;
        margin: 0 0 0 0;
        padding: 0;
    }

    #plan5 #cardio {
        margin-left: -75px;
        margin-top: 20px;
    }

    #plan6 {
        font-size: 3rem;
        margin: 0 -10px 0 1.5em;
        padding: 0;
    }

    #plan6 #strength {
        margin-left: -75px;
        margin-top: 20px;
    }

    #work {
        text-align: center;
        margin-top: 2em;
    }

    #workout {
        margin-left: 0;
    }

    .stories {
        margin-bottom: 3em;
    }

    #story2 {
        margin-top: 2em;
    }

    #story3 {
        margin-top: 2em;
    }

    #bisola {
        margin: 0;
        padding-left: 8em;
        margin-right: 7.5em;
    }

    #bisoladate {
        margin: 0;
        padding-left: 5.5em;
        padding-right: 4em;
        border-bottom: none;
        padding-bottom: 2em;
    }

    #posi {
        margin: 0;
        padding-left: 8.5em;
        margin-right: 7.5em;
    }

    #posidate {
        margin: 0;
        padding-left: 5.5em;
        padding-right: 4em;
        border-bottom: none;
        padding-bottom: 2em;
    }

    #tolu {
        margin: 0;
        padding-left: 8.5em;
        margin-right: 7.5em;
    }

    #toludate {
        margin: 0;
        padding-left: 6.5em;
        padding-right: 4em;
        border-bottom: none;
        padding-bottom: 2em;
    }

    .conclusion {
        flex-direction: column;
        width: 100%;
    }

    .contact {
        width: 100%;
        margin: 0;
        padding-right: 1em;
    }

    .contact-us {
        width: 100%;
    }

    #submit {
        margin-bottom: 1em;
    }
}

/*-- SMALL DEVICES --*/

@media (min-width: 300px) and (max-width: 400px) {
    .head {
        margin-left: -30px;
    }

    .head h1 {
        font-size: 2.5rem;
    }

    .coach {
        font-size: 0.9rem;
    }

    .plans {
        margin-bottom: 1em;
    }

    #plan1 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan1 #trxworkout {
        margin-top: 40px;
    }

    #plan2 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan2 #posture {
        margin-top: 35px;
    }

    #plan3 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    #plan3 #muscle {
        margin-top: 30px;
    }

    #plan4 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan4 #weight {
        margin-top: 40px;
    }

    #plan5 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan5 #cardio {
        margin-top: 30px;
    }

    #plan6 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    #plan6 #strength {
        margin-top: 30px;
    }

    #work {
        padding-bottom: 1em;
    }

    #workout {
        margin-left: 4em;
        margin-right: 4.5em;
    }

    .links {
        margin: 1em 0 0 -100px;
    }

    .short-copy {
        font-size: 1.5rem;
    }

    .stories {
        margin-bottom: 3em;
    }

    #bisola {
        margin: 0;
        padding-left: 8em;
        margin-right: 7.5em;
    }

    #bisoladate {
        margin: 0;
        padding-left: 5.5em;
        padding-right: 4em;
    }

    #posi {
        margin: 0;
        padding-left: 8em;
        margin-right: 7.5em;
    }

    #posidate {
        margin: 0;
        padding-left: 5.5em;
        padding-right: 4em;
    }

    #tolu {
        margin: 0;
        padding-left: 8em;
        margin-right: 7.5em;
    }

    #toludate {
        margin: 0;
        padding-left: 5.5em;
        padding-right: 4em;
    }

    .conclusion {
        flex-direction: column;
    }

    .contact {
        width: 100%;
        margin: 0;
        padding-right: 1em;
    }

    .contact-us {
        width: 100%;
    }

    #submit {
        margin-bottom: 1em;
    }
}

/*-- EXTRA SMALL DEVICES --*/

@media (max-width: 299px) {
    .head {
        margin-left: -30px;;
    }

    .head h1 {
        font-size: 3rem;
        margin-left: 55px;
        margin-bottom: 0.3em;
    }

    .coach {
        font-size: 0.7rem;
        margin-left: 4em;
    }

    .links {
        font-size: 0.7rem;
        margin-top: 3em;
    }

    #ghost {
        margin-left: 0.25em;
    }

    .short-copy {
        font-size: 1rem;
    }

    .conclusion {
        flex-direction: column;
        width: 100%;
    }

    .contact {
        width: 100%;
    }

    .contact-us {
        width: 100%;
    }

    #submit {
        margin-bottom: 1em;
    }
}