/*-- EXTRA EXTRA LARGE DEVICES DEVICES --*/

@media (min-width: 1025px) {
    #workout {
        margin: auto;
    }

    #submit {
        margin-bottom: 1em;
    }
}

/*-- EXTRA LARGE DEVICES --*/

@media (min-width: 981px) and (max-width: 1024px) {
    #workout {
        margin: 0 20em;
    }

    #submit {
        margin-bottom: 1em;
    }
}

/*-- LARGE DEVICES --*/

@media (min-width:601px) and (max-width:980px) {
    .head h1 {
        font-size: 4rem;
    }

    .coach {
        font-size: 1.5rem;
    }

    .links {
        margin: 1em 0 0 -20px;
    }

    #submit {
        margin-bottom: 1em;
    }
}


/*-- MEDIUM DEVICES --*/

@media (min-width: 401px) and (max-width: 600px) {
    .head {
        margin-left: -20px;
    }

    .head h1 {
        font-size: 3rem;
        margin-bottom: 1em;
    }

    .coach {
        font-size: 1rem;
    }

    .links {
        margin: 1em 0 0 -70px;
    }

    .plans {
        margin-top: 1.5em;
    }

    #plan1 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }

    #plan1 #trxworkout {
        margin-left: -65px;
        margin-top: 20px;
    }

    #plan2 {
        font-size: 3rem;
        margin: 0;
    }

    #plan2 #posture {
        margin-left: -75px;
        margin-top: 20px;
    }

    #plan3 {
        font-size: 3rem;
        margin: 0;
    }

    #plan3 #musle {
        margin-left: -75px;
        margin-top: 20px;
    }

    #plan4 {
        font-size: 3rem;
        padding: 0;
        margin-right: 1em;
    }

    #plan4 #weight {
        margin-left: -75px;
        margin-right: 1.5em;
        margin-top: 20px;
    }

    #plan5 {
        font-size: 3rem;
        margin: 0 0.2em 0 1em;
        padding: 0;
    }

    #plan5 #cardio {
        margin-left: -75px;
        margin-top: 20px;
    }

    #plan6 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }

    #plan6 #strength {
        margin-left: -75px;
        margin-top: 20px;
    }

    #work {
        text-align: center;
        margin-top: 2em;
    }

    #workout {
        margin-left: 0;
    }

    #submit {
        margin-bottom: 1em;
    }
}

/*-- SMALL DEVICES --*/

@media (min-width: 300px) and (max-width: 400px) {
    .head {
        margin-left: -30px;
    }

    .head h1 {
        font-size: 2.5rem;
    }

    .coach {
        font-size: 0.9rem;
    }

    #plan1 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    #plan2 {
        margin-right: 0.5em;
        padding: 0;
        font-size: 4rem;
    }

    #plan3 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    #plan4 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    #plan5 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    #plan6 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    .links {
        margin: 1em 0 0 -85px;
    }

    .short-copy {
        font-size: 1.5rem;
    }

    #submit {
        margin-bottom: 1em;
    }
}

/*-- EXTRA SMALL DEVICES --*/

@media (max-width: 299px) {
    .head {
        margin-left: -30px;;
    }

    .head h1 {
        font-size: 3rem;
        margin-left: 55px;
        margin-bottom: 0.3em;
    }

    .coach {
        font-size: 0.7rem;
        margin-left: 4em;
    }

    .links {
        font-size: 0.7rem;
        margin-top: 3em;
    }

    #ghost {
        margin-left: 0.25em;
    }

    .short-copy {
        font-size: 1rem;
    }
}